div>div{
    width: 30%;
    float: left;
}
.parem>div{
    width: 100%;
}
div>div>h2{
    width: 100%;
}
div>h2{
    width: 30%;
    float: left;
}
.t>img,.fb,.ig{
    float: left;
    width: 20%;
    padding: 10px;
}